<div id="<%= dom_id service %>">
  <p>
    <strong>Title:</strong>
    <%= service.title %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= service.value %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= service.description %>
  </p>

</div>
