# MacOS files
**.DS_Store

# Vscode
**/.vscode
*.code-workspace

# Log folder
log/

# tmp folder
tmp/

# Database files
db/development*
db/test*

# storage files
storage/

# Secrets
config/master.key
config/master.key.bak

# Public compiled assets
public/assets/
/app/assets/builds/*
!/app/assets/builds/.keep

# Node Modules
node_modules/

# coverage
coverage/
